html, body{
    height: 100%;
    background-color: #4c4c4c;
    background-color: #fbc504;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    height: 150px;
    margin: 10px;
}

header{
    background-color: #1c1c1c;
    margin: -10px;
}


#s1{
    width: 100%;
    height: 800px;
    margin-left: -10px;
    margin-right: -50px;
}

#menu1{
    margin-top: 100px;
    margin-left: 7.5%;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.boton_categorias{
    background-color: #ffe000;
    height: 300px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    color: white; /* Opcional: color del texto */
    font-size: 25px; /* Opcional: tamaño del texto */
    background-size: cover; /* Asegura que la imagen cubra todo el botón */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    border: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    /*transition: box-shadow 0.3s ease; /* Transición suave */
    transition: transform 0.2s ease-in-out;
    
}
.boton_categorias:hover {
    transform: scale(1.1); /* Ajusta el valor de escala según tu preferencia */
}
.boton_categorias:focus{
    outline: none;
}
.text-background {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
    color: white; /* Color del texto */
}

#catH{
    background-image: url('../Fotos/h1.jpg'); 
}

#catE{
    background-image: url('../Fotos/Enchiladas1.jpg'); 
}

#catHD{
    background-image: url('../Fotos/hotdog1.jpg'); 
}

#catA{
    background-image: url('../Fotos/alitas1.jpg'); 
}

#catS{
    background-image: url('../Fotos/sincronizadas2.jpg'); 
}

#catCT{
    background-image: url('../Fotos/carnes1.jpg'); 
}

#catT{
    background-image: url('../Fotos/torta1.png'); 
}

#catB{
    background-image: url('../Fotos/bebidas1.png'); 
}

footer{
    height: 200px;
    background-color: #4c4c4c;
    margin-left: -10px;
    margin-right: -10px;
}
#foot1{
    color: white;
    padding-top: 30px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: -20px;
}
#foot2{
    color: white;
    margin-left: 20px;
}

/*ESTILOS POR CATEGORIA*/

#navBarCategorias{
    width: 100%;
    display: flex;
    padding-top: 10px;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
}

.categorias2{
    width: 100px;
    height: 100px;
    font-size: 10px;
    margin: 5px;
    
}

.ubicacionA{
    transform: scale(1.1);
    border-bottom: solid 3.5px white;
    border-top: solid 3.5px white;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    
}

.menu2{
    background-color:white;
    display: flex;
    width: 100%;
    height: 500px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 80px;
    background-image: url('../Fotos/FONDO1.jpg'); 
}

/*ESTILOS DEL PRODUCTO*/

.producto{
    width: 300px;
    height: 380px;
    background-color: white;
    box-shadow: 4px 4px 10px;
    margin: 20px;
    padding: 0.3%;
}

.fotoProducto{
    width: 100%;
    height: 60%;
    background-position: center;
}

.titProducto{
    margin-top: -0.1%;
    margin-bottom: -2%;
}
.descProducto{
    font-size: 15px;
    height: 20%;
}
.divPro{
    display: flex;
    margin-top: -3%;
}
.precioProducto{
    color: green;
    font-size: 19px;
    margin-right: 50%;
}
.botonAgregar{
    width: 30%;
    height: 35px;
    margin-top: 3%;
    background-color: #ffe000;
    border: none;
    border-radius: 3px;
}
#dp2{
    font-size: 15px;
}


/*ESTILO DE PEDIDO*/
#pedido{
    width: 300px;
    height: 390px;
    box-shadow: 4px 4px 10px;
    position: absolute;
    display: block;
    margin-top: -560px;
    margin-left: 77%;
    background-color: beige;
}
#ordenh1{
    width: 100%;
    text-align: center;
}
#listPedido{
    height: 65%;
    margin-left: 5%;
}
#botonPedido{
    margin-left: 65%;
}

/*cambios desde DevJr*/
#cel{
    color: white;
    margin-left: 3%;
}
#Ubicacion{
    color: white;
    margin-left: 3%;
}